<h2>Pases</h2>
<hr/>
<ul class="list-group">
  <li class="list-group-item list-group-item-action animate__fadeIn animate__fast" *ngFor="let country of countrys">
    <a [routerLink]="['country', country.alpha3Code]" >{{country.name}}</a>
  </li>
</ul>
